In [1]:
import numpy as np
import pandas as pd
from datetime import date

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from apyori import apriori

In [2]:
%%time
df = pd.read_excel(f'indeed_results_pp_2020-04-25.xlsx')

Wall time: 17 s

In [3]:
df[(df['Title_New'] == 'full stack developer') & (df['Skills'].notnull())][['Title_New', 'Skills']]

                  Title_New                                             Skills
6234   full stack developer                                                php
32984  full stack developer                                                php
48033  full stack developer  aws|hadoop|agile|ruby|django|mongodb|jira|java...
48480  full stack developer  pig|ruby|django|msexcel|machine learning|java|...
48619  full stack developer  aws|angular.js|html|laravel|machine learning|n...
...                     ...                                                ...
63431  full stack developer  mysql|agile|django|msexcel|front end|java|java...
63605  full stack developer  aws|angular.js|gcp|redis|msexcel|mongodb|nodej...
63611  full stack developer  aws|angular.js|gcp|redis|msexcel|mongodb|nodej...
63661  full stack developer  angular.js|laravel|machine learning|nodejs|jav...
63827  full stack developer  aws|microservices|java|javascript|soft skills|...

[211 rows x 2 columns]

In [4]:
df[(df['Title_New'] == 'software developer') & (df['Skills'].notnull())][['Title_New', 'Skills']]

                Title_New                                             Skills
9841   software developer                                               .net
16124  software developer                                               .net
36579  software developer                                               .net
42831  software developer                                               .net
47814  software developer                                        soft skills
...                   ...                                                ...
63741  software developer                              java|.net|soft skills
63751  software developer                                        soft skills
63800  software developer                             .net|soft skills|c|sql
63805  software developer  aws|agile|msword|ruby|machine learning|java|sc...
63823  software developer                                   java|soft skills

[1563 rows x 2 columns]

In [5]:
fullstackdeveloper = df[(df['Title_New'] == 'full stack developer') & (df['Skills'].notnull())][['Title_New', 'Skills']].reset_index().drop(['index'], axis=1)
softwaredeveloper = df[(df['Title_New'] == 'software developer') & (df['Skills'].notnull())][['Title_New', 'Skills']].reset_index().drop(['index'], axis=1)

In [6]:
fullstackdeveloperskills = [skills.split('|') for _, skills in fullstackdeveloper.values.tolist()]

In [7]:
%%time
te = TransactionEncoder()
fullstackdeveloperskills_list = te.fit(fullstackdeveloperskills).transform(fullstackdeveloperskills)

Wall time: 2 ms

In [8]:
new_df = pd.DataFrame(fullstackdeveloperskills_list, columns=te.columns_)

In [9]:
skillset = apriori(new_df, min_support=0.01, use_colnames=True).sort_values(by="support", ascending=False).reset_index().drop(['index'], axis=1)
skillset

         support                                           itemsets
0       0.872038                                             (java)
1       0.824645                                       (javascript)
2       0.753555                                 (javascript, java)
3       0.578199                                      (soft skills)
4       0.554502                          (javascript, soft skills)
...          ...                                                ...
312550  0.014218  (php, react.js, css, nodejs, java, python, rub...
312551  0.014218  (php, react.js, css, nodejs, java, python, sof...
312552  0.014218  (php, react.js, css, nodejs, java, python, sql...
312553  0.014218  (php, css, nodejs, java, python, redux, ruby, ...
312554  0.014218  (mysql, php, react.js, css, linux, .net, javas...

[312555 rows x 2 columns]

In [10]:
softwaredeveloperskills = [skills.split('|') for _, skills in softwaredeveloper.values.tolist()]

In [11]:
softwaredeveloperskills_list = te.fit(softwaredeveloperskills).transform(softwaredeveloperskills)

In [12]:
new_df_software_developer = pd.DataFrame(softwaredeveloperskills_list, columns=te.columns_)

In [13]:
softwaredeveloperskillset = apriori(new_df, min_support=0.01, use_colnames=True).sort_values(by="support", ascending=False).reset_index().drop(['index'], axis=1)
softwaredeveloperskillset

         support                                           itemsets
0       0.872038                                             (java)
1       0.824645                                       (javascript)
2       0.753555                                 (javascript, java)
3       0.578199                                      (soft skills)
4       0.554502                          (javascript, soft skills)
...          ...                                                ...
312550  0.014218  (php, react.js, css, nodejs, java, python, rub...
312551  0.014218  (php, react.js, css, nodejs, java, python, sof...
312552  0.014218  (php, react.js, css, nodejs, java, python, sql...
312553  0.014218  (php, css, nodejs, java, python, redux, ruby, ...
312554  0.014218  (mysql, php, react.js, css, linux, .net, javas...

[312555 rows x 2 columns]

In [16]:
df[df['Title'].notnull() & df['Description'].notnull() & df['Salary'].notnull()].shape[0]

6427