In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel(r'indeed_results_pp_2020-04-25.xlsx')

In [3]:
data.head()

,Title,Location,Company,Salary,Sponsored,Description,Time,Salary_Unit_Month,Salary_Unit_Year,Salary_Unit_Week,...,Education_Bachelors,Education_Masters,Education_Doctorate,Skills_Description,Skills_Title,Skills,Position_Junior,Position_Senior,Internship,Title_New
0,delivery drivers delivery executives delivery ...,Guwahati,Ride Swiggy,25000 35000 month,Sponsored,official job posted from swiggy join swiggy fa...,2019-11-15,1,0,0,...,0,0,0,NaN,NaN,NaN,0,0,1,NaN
1,primary teacher relocation to chitrakoot up,Guwahati,Ashok Public School Chitrakoot UP,NaN,Sponsored,candidates who are willing to relocate at chit...,2020-02-06,0,0,0,...,1,0,0,NaN,NaN,NaN,0,0,0,NaN
2,graphic designer,Guwahati,Supermark Agency,15000 20000 month,Sponsored,the ideal candidate will have strong creative ...,2020-01-18,1,0,0,...,1,0,0,|ui|ux|css,NaN,ui|css|ux,0,0,0,graphic designer
3,sales executive kitchenware and utensils,Guwahati,Global Prospects,175000 250000 year,Organic,sales executive distributor payroll we are urg...,2020-02-22,0,1,0,...,1,0,0,NaN,NaN,NaN,0,0,0,NaN
4,digital marketing executive,Guwahati,Global Prospects,100000 150000 year,Organic,we are looking for passionate and aspiring you...,2019-12-30,0,1,0,...,1,0,0,|communication skills,NaN,communication skills,0,0,0,NaN

In [4]:
data.isnull().sum()

Title                      0
Location                   0
Company                    0
Salary                 32834
Sponsored                  0
Description            45918
Time                       0
Salary_Unit_Month          0
Salary_Unit_Year           0
Salary_Unit_Week           0
Salary_Unit_Day            0
Salary_Unit_Hour           0
Salary_New             32834
Salary_Average             0
Job_Type_Part_Time         0
Job_Type_Full_Time         0
XP_Experience              0
XP_Fresher                 0
Gender                     0
Gender_Male                0
Gender_Female              0
Education_Tenth            0
Education_Twelvth          0
Education_Bachelors        0
Education_Masters          0
Education_Doctorate        0
Skills_Description     49003
Skills_Title           56820
Skills                 46775
Position_Junior            0
Position_Senior            0
Internship                 0
Title_New              57918
dtype: int64

In [5]:
X = data[['XP_Experience', 'XP_Fresher']]
y = data['Salary_Average']

In [6]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=0)

In [7]:
logreg = LogisticRegression()
logreg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [8]:
y_pred=logreg.predict(X_test)

In [9]:
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

array([[6606,    0,    0, ...,    0,    0,    0],
       [   1,    0,    0, ...,    0,    0,    0],
       [   1,    0,    0, ...,    0,    0,    0],
       ...,
       [   2,    0,    0, ...,    0,    0,    0],
       [   2,    0,    0, ...,    0,    0,    0],
       [   1,    0,    0, ...,    0,    0,    0]], dtype=int64)

In [11]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5174682751057497